
{% load static %}

<!DOCTYPE html>
<html lang="zxx">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'https://use.fontawesome.com/releases/v5.8.1/css/all.css' %}" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="{% static 'https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>mysite</title>
</head>
<body>
	<header class="header">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark">
				<a class="navbar-brand" href="{% static '#' %}'"><img src="{% static 'images/logo.png' %}" alt="joby"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ml-5">
						<li class="nav-item pr-4">
							<a class="nav-link" href="{% static '#' %}'">Employers</a>
						</li>
						<li class="nav-item pr-4">
							<a class="nav-link" href="{% static '#' %}'">Portfolio</a>
						</li>
						<li class="nav-item pr-4">
							<a class="nav-link" href="{% static '#' %}"> About Us</a>
						</li>
						<li class="nav-item pr-4">
							<a class="nav-link" href="{% static '#' %}">Team</a>
						</li>
					</ul>
					<button type="button" class="btn-sign ml-auto"  data-toggle="modal" data-target="#exampleModalCenter"><span>sign up</span></button>
				</div>
			</nav>
		</div>	
	</header>
	<div class="carusel-block">
		<div class="bd-example">
			<div id="main-carousel" class="carousel slide">
				<ol class="carousel-indicators">
					<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
					<li data-target="#main-carousel" data-slide-to="1"></li>
					<li data-target="#main-carousel" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="{% static 'images/slider-pic.jpg' %}" class="d-block w-100" alt="slider-pic">
						<div class="carousel-caption d-none d-md-block">
							<h5 class="titel-carousel ">Where will<span> great work </span>take you?</h5>
						</div>
					</div>
					<div class="carousel-item">
						<img src="{% static 'images/slider-pic.jpg' %}" class="d-block w-100" alt="slider-pic">
					</div>
					<div class="carousel-item">
						<img src="{% static 'images/slider-pic.jpg' %}" class="d-block w-100" alt="slider-pic">
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row mb-5">
			<div class="col-12 col-md-5 mt-5 bg-img-1"></div>
			<div class="col-12 col-md-7  py-3 px-5">
				<h1 class="titles ">Find<span> the perfect </span> job fast </h1>
				<p class="titles-text mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quas expedita distinctio dolores excepturi, consequatur amet cupiditate at voluptas ex provident totam dolorem nostrum laborum quis deserunt ipsum quaerat est, deleniti exercitationem consectetur! Natus.</p>
			</div>
		</div>
	</div>
	<div class="background-block">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-7 py-5">
					<h3 class="titles pr-5 pb-4">Great <span>work starts</span> with great talent</h3>
					<ul class="works-list titles-text">
						<li>Lorem ipsum dolor sit amet.</li>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
						<li>Lorem ipsum dolor sit amet, consectetur.</li>
						<li>Lorem ipsum dolor sit amet.</li>
						<li>Lorem ipsum dolor sit.</li>
					</ul>
				</div>
				<div class="col-12 col-md-5 bg-img-2"></div>
			</div>
		</div>
	</div>
<div class="container">
	<h3 class="titles text-center">Recent Work Done on<span> JOB BOARD</span></h3>
	<div class="row mt-5">
		<div class="col-12 col-md-3 py-3">
			<div class="card">
				<img src="{% static 'images/pic-1.jpg' %}" class="card-img-top" alt="...">
				<div class="card-body">
					<a href="#" class=" btn btn-card btn-bg-1">Graphics</a>
					<h5 class="title-card">Round Icons Design</h5>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-3 py-3">
			<div class="card">
				<img src="{% static 'images/pic-2.jpg' %}" class="card-img-top" alt="...">
				<div class="card-body">
					<a href="#" class="btn btn-card btn-bg-2">Graphics</a>
					<h5 class="title-card">Stationary Design</h5>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-3 py-3">
			<div class="card">
				<img src="{% static 'images/pic-3.jpg' %}" class="card-img-top" alt="...">
				<div class="card-body">
					<a href="#" class="btn btn-card btn-bg-3">Graphics</a>
					<h5 class="title-card">Logo Design</h5>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-3 py-3">
			<div class="card">
				<img src="{% static 'images/pic-4.jpg' %}" class="card-img-top" alt="...">
				<div class="card-body">
					<a href="#" class="btn btn-card btn-bg-4">Graphics</a>
					<h5 class="title-card">Branding</h5>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-3 py-3">
			<div class="card">
				<img src="{% static 'images/pic-5.jpg' %}" class="card-img-top" alt="...">
				<div class="card-body">
					<a href="#" class="btn btn-card btn-bg-2">Graphics</a>
					<h5 class="title-card">Visiting Card Design</h5>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-3 py-3">
			<div class="card">
				<img src="{% static 'images/pic-6.jpg' %}" class="card-img-top" alt="...">
				<div class="card-body">
					<a href="#" class="btn btn-card btn-bg-4">Graphics</a>
					<h5 class="title-card">Brochure Design</h5>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-3 py-3">
			<div class="card">
				<img src="{% static 'images/pic-7.jpg' %}" class="card-img-top" alt="...">
				<div class="card-body">
					<a href="#" class="btn btn-card btn-bg-1">Graphics</a>
					<h5 class="title-card">Branding</h5>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-3 py-3">
			<div class="card">
				<img src="{% static 'images/pic-8.jpg' %}" class="card-img-top" alt="...">
				<div class="card-body">
					<a href="#" class="btn btn-card btn-bg-3">Graphics</a>
					<h5 class="title-card">Stationary Design</h5>
				</div>
			</div>
		</div>
	</div>
</div>
<div>

	{% for post in posts %}
    <div>
        <h1><a href="">{{ post.title }}</a></h1>
		<p>{{ post.text|linebreaksbr }}</p>
		<p>published: {{ post.published_date }}</p>
    </div>
{% endfor %}	

</div>
<footer>
	<div class="container">
		<p>© 2015 job board landing page by mike taylor</p>
	</div>
</footer>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">check in</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="#" method="post">
				<div class="form-row pl-5 mt-3 info-user">
					<label for="userEmail"> Email  :</label>
					<input type="email" class="Email ml-3" name="user-email" placeholder="Enter your email" id="userEmail" required autofocus>
				</div>
				<div class="form-row pl-5 mt-3 info-user">
					<label for="userLogin">Login  :</label>
					<input type="text" class="login ml-3" name="user-login" placeholder="Enter your login" id="userLogin" required >
				</div>
				<div class="form-row pl-5 mt-3 info-user">
					<label for="userPassword"> Passw:</label><input type="password" class="passw ml-3" name="user-password" placeholder="Enter your password" id="userPassword" required >
				</div>
				<button type="submit" class="btn-enter btn-lg pl-4">send</button>
				</form>
			</div>
		</div>
	</div>
	<script src="{% static 'js/jquery-3.4.0.slim.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>